# Ignore VS Code settings
.vscode/

# Ignore compiled C files
*.o
*.exe
*.out

# Ignore system files/folders outside your project
Anwendungsdaten/
Cookies/
Druckumgebung/
Eigene Dateien/
Lokale Einstellungen/
Netzwerkumgebung/
Recent/
SendTo/
Startmenü/
AppData/
OneDrive/
Desktop/
Documents/
Downloads/
Music/
Pictures/
Videos/
*.ini
*.log
*.bat
